{% extends 'base_public.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Voting</title>

  <section class="hero">
    <div class="hero-text">
      <h1>ONLINE VOTING</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore.</p>
      <a href="#" class="learn-more">LEARN MORE</a>
    </div>
    <div class="hero-img">
        <img src="{{ url_for('static', filename='images/online_voting_2.jpg') }}" alt="Online Voting Image">
    </div>
  </section>
{% endblock %}
